.container{
    max-width: 768px;
    width: 100%;
}

article img{
    max-width: 100% !important;
    height: auto !important;
    border-radius: .25rem!important;
}

.featured-image-list{
    object-fit: cover;
} 
