{% extends 'base.html' %}

{% block content %}
{% if tag %}
<h2 class="mb-3">Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <div class="row g-0">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="{{post.title}}">
                </div>
            </div>
            <div class="col-md-7 ps-md-3 pt-3 pt-md-0 d-flex flex-column">

                <h2 class="card-title h5">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>

                <div class="text-muted">
                    <small>
                        Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
                    </small>
                </div>


                <p class="card-text mb-auto py-2">{{ post.body|safe|striptags|truncatechars:100 }}</p>


                <div>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">Read more</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endfor %}

{% include "pagination.html" with page=posts %}



{% endblock content %}